footer{
  background: $color-primary-100;
  padding: 30px 0;
  .nav-item {
    a {
      color: $color-primary-200;
      font-size: 15px;
      font-weight: 600;
      &:hover {
        color: $color-primary-300
      }
    }
    &.nav-item__social {
      .nav-item__social-item {
        display: inline-block;
      }
    }
  }
}