@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Poppins:wght@700&display=swap');
@import "parts/variables";
@import "mixins/mixins";
@import "parts/*.scss";
@import "blocks/*.scss";

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body{
  background: $color-primary-200;
}

h1{
  font-size: 50px;
  font-weight: bold;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: $color-secondary-100;
  text-transform: uppercase;
}

h4{
  font-weight: 600;
  font-size: 25px;
}