.btn{
  border-radius: 15px;
  transition: background-color .5s, color .5s;
  padding: 12px;
  &__text{ // SEND US A TEXT BUTTON
    @include buttonColors($color-primary-100, "transparent", $color-primary-200);
    &:hover{
      @include buttonColors($color-primary-200, $color-primary-100, $color-primary-100);
    }
  }
  &__cars{ // SELECT CARS BUTTON
    @include buttonColors($color-primary-300, "transparent", $color-primary-200);
    &:hover{
      @include buttonColors($color-primary-200, $color-primary-300, $color-primary-300);
    }
  }
  &__browse{ //BROWSE CARS BUTTON
    @include buttonColors("transparent", $color-primary-200, $color-primary-200);
    font-size: 20px;
    &:hover{
      @include buttonColors($color-primary-200, $color-primary-200, $color-primary-100);
    }
  }
  &__subscribe{ //SUBSCRIBE BUTTON
    @include buttonColors($color-primary-200, $color-primary-200, $color-primary-100);
    &:hover{
      @include buttonColors("transparent", $color-primary-200, $color-primary-200);
    }
  }
  &__dropdown{
    @include buttonColors("transparent", $color-secondary-300, "#000000");
    width: 100%;
    position: relative;
    &:after{
      margin: 0;
      content: '';
      display: inline-block;
      height: 10px;
      width: 10px;
      border-style: solid;
      border-width: 1px 1px 0 0;
      border-color: black;
      position: absolute;
      right: 1.5em;
      top: 50%;
      transform: translateY(-50%) rotate(135deg) ;
    }
    &.show{
      font-weight: bold;
      border-radius: 15px 15px 0 0;
      border-bottom: 0;
      background: $color-secondary-500;
      &:after{
        display: none;
      }
    }
  }
  &:disabled{
    filter: opacity(.4);
  }
}